name: CI

on:
  push:
    branches: ['**']

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: 'backend/.python-version'

      - name: Install UV
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        working-directory: backend
        run: uv sync --frozen

      - name: Run linting
        working-directory: backend
        run: sh scripts/lint.sh

      - name: Run tests
        working-directory: backend
        run: sh scripts/pytest.sh
